h1{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:aquamarine;
    justify-content: center;
    margin: 0px;
}

.title{
    background-color: aquamarine;
}

section{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-left: 950px;

}
