h1{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:aquamarine;
    justify-content: center;
    margin: 0px;
}

.title{
    background-color: aquamarine;
}

.excusa{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:x-large;

}
